.intro {
	padding-top: 20px;
}

.intro__container {
  @include layout-positioner;
}

.intro__img-container {
  width: 280px;
  margin: 0 auto;
  box-shadow: 0 0 2px $violet;
}

.intro__img-container img {
  @include image;
}

@media (min-width: $tablet-width) {
  .intro {
    padding-top: 30px;
  }

  .intro__img-container {
    width: 440px;
    box-shadow: 0 0 3px $violet;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding-top: 40px;
  }
}